<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FORM Mata Kuliah</title>
</head>
<body>
{% include "navbar.html" %}
<div class="container-utama">
    <div class="isi2">
        <div>
            <h2>Form Mata Kuliah</h2>
            <form action="/tambah/" method="POST">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>