<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jadwal Mata Kuliah</title>
    <style>
        th{
            text-align: left;
            padding: 20px;
        }
        td {
            padding: 20px;
        }
    </style>
</head>
<body>
{% include "navbar.html" %}
<div class="container-utama">
    <div class="isi2">
        <div>
            <h2 style="margin-left: 8%">Detail</h2>
            <table>
                <tr>
                    <th>Mata Kuliah</th>
                    <td>{{matkul.matkul_name}}</td>
                </tr>
                <tr>
                    <th>Dosen Pengajar</th>
                    <td>{{matkul.dosen_name}}</td>
                </tr>
                <tr>
                    <th>Jumlah SKS</th>
                    <td>{{matkul.jumlah_sks}}</td>
                </tr>
                <tr>
                    <th>Deskripsi</th>
                    <td>{{matkul.deskripsi}}</td>
                </tr>
                <tr>
                    <th>Semester</th>
                    <td>{{matkul.tahun_semester}}</td>
                </tr>
                <tr>
                    <th>Ruang Kelas</th>
                    <td>{{matkul.ruang_kelas}}</td>
                </tr>
                <tr>
                    <td><a href="delete">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>