<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jadwal Mata Kuliah</title>
    <style>
        th {
            padding: 20px;
        }

        td {
            padding: 20px;
        }
        .kotak {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
{% include "navbar.html" %}
<div class="container-utama">
    <div class="isi2">
        <div class="kotak">
            {% if matkul %}
            <div>
                <div class="matkul" style="margin-left: 20% ">
                    <h2>Daftar Mata Kuliah</h2>
                </div>
                <table>
                    <tr>
                        <th>Mata Kuliah</th>
                        <th>Dosen Pengajar</th>
                    </tr>
                    {% for form in matkul %}
                    <tr>
                        <td>{{form.matkul_name}}</td>
                        <td>{{form.dosen_name}}</td>
                        <td><a href="{{form.id}}">detail</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <h2 style="margin-top: 200px"> Tidak ada matkul yang terdaftar </h2>
            {% endif %}
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>